<!DOCTYPE html>
<html>
<head>
  <title>ContactForm</title>
  <%= stylesheet_link_tag    "contact_form/application", :media => "all" %>
  <%= javascript_include_tag "contact_form/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= flash_errors_and_notices %>

<%= yield %>

</body>
</html>